<h1>Welcome to The Whiskey Wall</h1>
<% @products.each do |product| %>
  <%= link_to product do %>
    <div>
      <%= image_tag product.image_url %>
      <%= product.name %>
    </div>
  <% end %>
<% end %>
